.flex-box--todo-list {
  background: none;
  width: 60%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}
.task-container {
  margin: 24px;
  display: grid;
  place-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 600px;
}
@media (max-width: 1400px) {
  .flex-box--todo-list {
    width: 90%;
  }
}
